{{ template "partials/header.html" . }}
<!-- Download -->
<section class="primary-content">
  <div class="container">
    <h2>Install Aptly {{ .Params.version }}</h2>
    <h3>Debian / Ubuntu</h3>
    <p>aptly package is available in <a href="https://packages.debian.org/search?searchon=names&keywords=aptly" target="_blank">Debian </a> as well as <a href="http://packages.ubuntu.com/search?suite=all&searchon=names&keywords=aptly" target="_blank">Ubuntu</a>. </p>
    <p>If you would like to install a upstream release of aptly with a different version than then Debian / Ubuntu package, aptly can be installed by adding a new repository to <code>/etc/apt/sources.list.d/aptly.list</code>:</p>
    <pre class="code">deb [signed-by=/etc/apt/keyrings/aptly.asc] http://repo.aptly.info/release <i>DIST</i> main</pre>
    <p>
    Where <i>DIST</i> needs to be changed to the distribution: <i>buster</i> / <i>bullseye</i> / <i>bookworm</i> (Debian) or <i>focal</i> / <i>jammy</i> / <i>noble</i> (Ubuntu).
    </p>

    <p>Then, import the GPG key as follows:</p>

    <p>For releases older than Debian 12 and Ubuntu 22.04, create the directory first:</p>
    <pre class="code">$ sudo mkdir -p /etc/apt/keyrings; sudo chmod 755 /etc/apt/keyrings</pre>

    <p>Download and install key:</p>
    <pre class="code">$ wget -O /etc/apt/keyrings/aptly.asc https://www.aptly.info/pubkey.txt</pre>

    <p>After that you can install aptly as any other software package:</p>

    <pre class="code"># apt-get update && apt-get install aptly</pre>

    <h3>CI Builds for Debian</h3>
    <p>If you would like to use the CI Builds (formerly known as nightly) to test the latest development version of aptly (unstable!), use the following APT source:
    <pre class="code">deb [signed-by=/etc/apt/keyrings/aptly.asc] http://repo.aptly.info/ci <i>DIST</i> main</pre>
    Where <i>DIST</i> needs to be changed to the distribution: <i>buster</i> / <i>bullseye</i> / <i>bookworm</i> (Debian) or <i>focal</i> / <i>jammy</i> / <i>noble</i> (Ubuntu).
    </p>

    <h3>Mac OS X</h3>
    <p><b>Mac OS X</b>: Installation using Homebrew:</p>
    <pre class="code">$ brew install aptly</pre>

    <h3>Binary Releases</h3>
    <p>Releases for binary distributions (depend almost only on <code>libc</code>) for Debian, CentOS, MacOS X &amp;
      FreeBSD are available.</p>
    <div class="row text-center">
      <div class="col-md-4">
        <img src="{{ "/img/os_icons/1200px-Tux.svg.png" | relURL }}" alt="Linux" class="download-os-icon">
        Generic Linux <br />
        <a href="https://github.com/aptly-dev/aptly/releases/download/v{{ .Params.version }}/aptly_{{ .Params.version }}_linux_amd64.zip"
          class="btn btn-default">AMD64</a>
        <a href="https://github.com/aptly-dev/aptly/releases/download/v{{ .Params.version }}/aptly_{{ .Params.version }}_linux_arm64.zip"
          class="btn btn-default">ARM64</a>
        <br/>
        <a href="https://github.com/aptly-dev/aptly/releases/download/v{{ .Params.version }}/aptly_{{ .Params.version }}_linux_386.zip"
          class="btn btn-default">386</a>
        <a href="https://github.com/aptly-dev/aptly/releases/download/v{{ .Params.version }}/aptly_{{ .Params.version }}_linux_arm.zip"
          class="btn btn-default">ARM32</a>
      </div>
      <div class="col-md-4">
        <img src="{{ "/img/os_icons/freebsd.png" | relURL }}" alt="FreeBSD" class="download-os-icon">
        FreeBSD <span class="small">9.2+</span><br />
        <a href="https://github.com/aptly-dev/aptly/releases/download/v{{ .Params.version }}/aptly_{{ .Params.version }}_freebsd_386.zip"
          class="btn btn-default">AMD64</a>
        <a href="https://github.com/aptly-dev/aptly/releases/download/v{{ .Params.version }}/aptly_{{ .Params.version }}_freebsd_amd64.zip"
          class="btn btn-default">ARM64</a>
        <br/>
        <a href="https://github.com/aptly-dev/aptly/releases/download/v{{ .Params.version }}/aptly_{{ .Params.version }}_freebsd_386.zip"
          class="btn btn-default">386</a>
        <a href="https://github.com/aptly-dev/aptly/releases/download/v{{ .Params.version }}/aptly_{{ .Params.version }}_freebsd_arm.zip"
          class="btn btn-default">ARM32</a>
      </div>
      <div class="col-md-4">
        <img src="{{ "/img/os_icons/osx.png" | relURL }}" alt="Mac OS X" class="download-os-icon">
        Mac OS X <span class="small">10.9</span><br />
        <a href="https://github.com/aptly-dev/aptly/releases/download/v{{ .Params.version }}/aptly_{{ .Params.version }}_darwin_arm64.zip"
          class="btn btn-default">ARM64</a>
        <a href="https://github.com/aptly-dev/aptly/releases/download/v{{ .Params.version }}/aptly_{{ .Params.version }}_darwin_amd64.zip"
          class="btn btn-default">AMD64</a>
      </div>
    </div>
    <br/>
    <p>The archive contains the binary executable, man page and shell completion (bash, zsh):

      <pre class="code">$ unzip aptly_{{ .Params.version }}_linux_amd64.zip
Archive:  aptly_{{ .Params.version }}_linux_amd64.zip
   creating: aptly_{{ .Params.version }}_linux_amd64/
   creating: aptly_{{ .Params.version }}_linux_amd64/man/
 extracting: aptly_{{ .Params.version }}_linux_amd64/man/aptly.1.gz
  inflating: aptly_{{ .Params.version }}_linux_amd64/README.rst
  inflating: aptly_{{ .Params.version }}_linux_amd64/LICENSE
  inflating: aptly_{{ .Params.version }}_linux_amd64/AUTHORS
   creating: aptly_{{ .Params.version }}_linux_amd64/completion/
   creating: aptly_{{ .Params.version }}_linux_amd64/completion/bash_completion.d/
  inflating: aptly_{{ .Params.version }}_linux_amd64/completion/bash_completion.d/aptly
   creating: aptly_{{ .Params.version }}_linux_amd64/completion/zsh/
   creating: aptly_{{ .Params.version }}_linux_amd64/completion/zsh/vendor-completions/
  inflating: aptly_{{ .Params.version }}_linux_amd64/completion/zsh/vendor-completions/_aptly
  inflating: aptly_{{ .Params.version }}_linux_amd64/aptly

$ aptly_{{ .Params.version }}_linux_amd64/aptly version
aptly version: {{ .Params.version }}
      </pre>
  </div>
</section>
{{ template "partials/footer.html" . }}
