{{ template "partials/header.html" . }}
    <!-- Download -->
    <section class="primary-content">
      <div class="container">
        <h2>Currently released aptly version is <span class="text-danger">{{ .Params.version }}</span> (<a href="/doc/history/">what's new?</a>)</h2>
        {{ .Content }}
      </div>
    </section>
    <section class="note">
      <div class="container">
        <img src="/img/os_icons/debian.png" alt="Debian/Ubuntu" class="pull-right">
        <h2>aptly installation</h2>
        <p><b>Debian/Ubuntu</b>: aptly package is <a href="https://packages.debian.org/jessie/aptly">available</a> in Debian jessie (testing). If you would like to install aptly on older versions of Debian or to stay on the bleeding edge, aptly could be installed
        by adding new repository to    <code>/etc/apt/sources.list</code>:</p>
        <pre>deb http://repo.aptly.info/ squeeze main</pre>
        <p>And importing key that is used to sign the release:</p>

<pre class="code">$ gpg --keyserver keys.gnupg.net --recv-keys 2A194991
$ gpg -a --export 2A194991 | sudo apt-key add -</pre>

        <p>After that you can install aptly as any other software package:</p>

<pre class="code">$ apt-get update
$ apt-get install aptly</pre>

        <p>Please don't worry about <code>squeeze</code> part in repo name: aptly package should work on Debian squeeze+, Ubuntu 10.0+. Package contains aptly binary, man page and bash completion.</p>

        <p>If you would like to use nightly (unstable) builds of aptly, add following line
           to <code>/etc/apt/sources.list</code>:</p>
        <pre>deb http://repo.aptly.info/ nightly main</pre>

        <p><b>Mac OS X</b>: Installation using Homebrew:</p>
        <pre>brew install aptly</pre>
      </div>
    </section>
    <section class="primary-content">
      <div class="container">
        <p><strong>Binary</strong> executables (depend almost only on <code>libc</code>) for Debian, CentOS, MacOS X &amp; FreeBSD are available for download from <a href="http://dl.bintray.com/smira/aptly/{{ .Params.version }}/">Bintray</a>. Linux executables should run on almost any recent Linux distribution.</p>
        <div class="row text-center">
          <div class="col-md-3">
            <img src="/img/os_icons/debian.png" alt="Debian/Ubuntu" class="download-os-icon">
            Debian (Ubuntu) <span class="small">squeeze+</span><br />
            <a href="http://dl.bintray.com/smira/aptly/{{ .Params.version }}/debian-squeeze-x32/aptly" class="btn btn-default">32-bit</a>
            <a href="http://dl.bintray.com/smira/aptly/{{ .Params.version }}/debian-squeeze-x64/aptly" class="btn btn-default">64-bit</a>
          </div>
          <div class="col-md-3">
            <img src="/img/os_icons/centos.png" alt="CentOS/RedHat/Fedora" class="download-os-icon">
            CentOS (RedHat, Fedora) <span class="small">6.5+</span><br />
            <a href="http://dl.bintray.com/smira/aptly/{{ .Params.version }}/centos-6.5-x32/aptly" class="btn btn-default">32-bit</a>
            <a href="http://dl.bintray.com/smira/aptly/{{ .Params.version }}/centos-6.5-x64/aptly" class="btn btn-default">64-bit</a>
          </div>
          <div class="col-md-3">
            <img src="/img/os_icons/freebsd.png" alt="FreeBSD" class="download-os-icon">
            FreeBSD  <span class="small">9.2+</span><br />
            <a href="http://dl.bintray.com/smira/aptly/{{ .Params.version }}/freebsd-9.2-x32/aptly" class="btn btn-default">32-bit</a>
            <a href="http://dl.bintray.com/smira/aptly/{{ .Params.version }}/freebsd-9.2-x64/aptly" class="btn btn-default">64-bit</a>
          </div>
          <div class="col-md-3">
            <img src="/img/os_icons/osx.png" alt="Mac OS X" class="download-os-icon">
            Mac OS X <span class="small">10.9</span><br />
            <a href="http://dl.bintray.com/smira/aptly/{{ .Params.version }}/osx/aptly" class="btn btn-default">64-bit</a>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <a href="http://www.bintray.com/smira/aptly/aptly">
              <img src="http://www.bintray.com/docs/images/poweredByBintray_ColorTransparent.png" width="100" height="55" alt="BinTray logo">
            </a>
          </div>
        </div>
        <p>Just copy binary to your machine, make it executable and run it:</p>

<pre class="code">$ chmod +x aptly
$ ./aptly</pre>

        <p><strong>Bash completion</strong> for aptly is available as <a href="https://github.com/aptly-dev/aptly-bash-completion">separate repo</a>.</p>

        <p>If you have Go environment set up (go 1.2+ required), you can build aptly from <strong>source</strong> by
        cloning it and building with gom:</p>

<pre class="code">$ go get -u github.com/mattn/gom
$ mkdir -p $GOPATH/src/github.com/smira/aptly
$ git clone https://github.com/smira/aptly $GOPATH/src/github.com/smira/aptly
$ cd $GOPATH/src/github.com/smira/aptly
$ gom -production install
$ gom build -o $GOPATH/bin/aptly
$ aptly
</pre>
      </div>
    </section>
{{ template "partials/footer.html" . }}
