<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>aptly - {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="/post/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header id="page-header">
      <div class="container">
        {{ template "partials/nav.html" . }}
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <a class="brand" href="/">
              <i class="brand-logo"></i>
              <span class="brand-name">aptly</span>
            </a>
            <b>This project is no longer maintained.</b>
          </div>
        </div>
      {{ if eq .URL "/"}}
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <p>aptly is a swiss army knife for Debian repository management: it allows you to mirror remote repositories, manage local package repositories, take snapshots, pull new versions of packages along with dependencies, publish as Debian repository. You can try it right now for free.</p>
            <p>aptly is available both as CLI tool and HTTP REST service.</p>
          </div>
        </div>
        <div class="source-buttons">
          <a href="/download/" class="btn btn-primary">download</a>
          <a href="https://github.com/aptly-dev/aptly" class="btn btn-default">github</a>
        </div>
        {{ end }}
      </div>
    </header>
