<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>aptly - {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | relURL }}">
    <link type="text/css" rel="stylesheet" href="{{ "/css/styles.css" | relURL }}">
    <link type="text/css" rel="stylesheet" href="/swagger-ui/swagger-ui.css">
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ "/post/index.xml" | relURL }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
html body section.documentation div.container div.row div.col-md-9.col-sm-9.col-xs-9 div#swagger-ui section.swagger-ui.swagger-container div.swagger-ui div div.information-container.wrapper section.block.col-12 div div.info hgroup.main {
    display: none
}
    </style>
  </head>
  <body>
    <header id="page-header">
      <div class="container">
        {{ template "partials/nav.html" . }}
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <a class="brand" href="{{ "/" | relURL }}">
              <i class="brand-logo"></i>
              <span class="brand-name">aptly</span>
            </a>
          </div>
        </div>
      {{ if eq .RelPermalink ("/" | relURL) }}
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <p><i><b>Swiss army knife for Debian repository management</b></i></p>
            <br />

            <p>Aptly allows you to mirror remote repositories, manage local package repositories, take snapshots, pull new versions of packages along with dependencies, publish as Debian repository.</p>
            <p>You can try it right now for free, aptly is available both as CLI tool and HTTP REST service.</p>
          </div>
        </div>
        <div class="source-buttons">
          <a href="{{ "/download/" | relURL }}" class="btn btn-primary">download</a>
          <a href="https://github.com/aptly-dev/aptly" class="btn btn-default">github</a>
        </div>
        {{ end }}
      </div>
    </header>
    <script src="/swagger-ui/swagger-ui-bundle.js"></script>
    <script src="/swagger-ui/swagger-ui-standalone-preset.js"></script>
    <script>
        window.onload = function() {
        const ui = SwaggerUIBundle({
            url: "/swagger.json",
            dom_id: '#swagger-ui',
            presets: [
              SwaggerUIBundle.presets.apis,
              SwaggerUIStandalonePreset.slice(1) // remote topbar
            ],
            layout: "StandaloneLayout",
            supportedSubmitMethods: [],
            onComplete: () => { }
        });
        window.ui = ui;
    };
    </script>

