        <nav class="navbar navbar-default navbar-static-top" role="navigation">
          <ul class="nav navbar-nav nav-justified">
            <li {{ if or (eq .URL "/tutorial/") (eq .Section "tutorial") }}class="active"{{end}}><a href="/tutorial/">tutorials</a></li>
            <li {{ if eq .URL "/download/" }}{{ if eq .Type "download" }}class="active"{{end}}{{end}}><a href="/download/">download</a></li>
            <li {{ if eq .URL "/support/" }}{{ if eq .Type "support" }}class="active"{{end}}{{end}}><a href="/support/">support</a></li>
            <li {{ if or (eq .URL "/doc/") (eq .Section "doc") }}class="active"{{end}}><a href="/doc/overview/">documentation</a></li>
            <li {{ if eq .URL "/about/" }}{{ if eq .Type "about" }}class="active"{{end}}{{end}}><a href="/about/">about</a></li>
            <li {{ if or (eq .URL "/post/") (eq .Section "post") }}class="active"{{end}}><a href="/post/">blog</a></li>
          </ul>
        </nav>
