{{ template "partials/header.html" . }}
    <section class="promo-example">
      <div class="container">
        <h2 class="text-center">See how it is clean and simple</h2>
        <div class="code-switches-wrapper">
          <ul class="code-switches">
            <li><a class="switch-target active" href="#" data-c="1"></a></li>
            <li><a class="switch-target" href="#" data-c="2"></a></li>
            <li><a class="switch-target" href="#" data-c="3"></a></li>
            <li><a class="switch-target" href="#" data-c="4"></a></li>
            <li><a class="switch-target" href="#" data-c="5"></a></li>
            <li><a class="switch-target" href="#" data-c="6"></a></li>
          </ul>
          <div data-c="1" class="carousel">
            <img src="/img/1.png" class="img-responsive">
            <h3>Difference between snapshots</h3>
            <p>aptly snapshot diff matches package versions in snapshots</p>
          </div>
          <div data-c="2" class="carousel hidden">
            <img src="/img/2.png" class="img-responsive">
            <h3>Pulling packages</h3>
            <p>Pull from snapshot to selectively upgrade packages</p>
          </div>
          <div data-c="3" class="carousel hidden">
            <img src="/img/3.png" class="img-responsive">
            <h3>Mirroring remote repos</h3>
            <p>Download packages from remote mirror to take stable snapshot</p>
          </div>
          <div data-c="4" class="carousel hidden">
            <img src="/img/aptlylocal.png" class="img-responsive">
            <h3>Managing local repos</h3>
            <p>Create, import and move packages in local package repositories</p>
          </div>
          <div data-c="5" class="carousel hidden">
            <img src="/img/aptlyserve.png" class="img-responsive">
            <h3>Serving published repositories</h3>
            <p>Quickly serve published snapshots over HTTP</p>
          </div>
          <div data-c="6" class="carousel hidden">
            <img src="/img/aptlygraph.png" class="img-responsive">
            <h3>Visualize dependencies</h3>
            <p>Render relationships between mirrors, repos, snapshots and published repositories</p>
          </div>
        </div>
      </div>
    </section>
    <section class="promo-features">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="feature-wrapper">
              <i class="feature-icon feature-icon-repository"></i>
              <div class="feature-text">
                <h4>Mirror repository</h4>
                <p>Take and update mirrors of any Debian/Ubuntu remote repository.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-wrapper">
              <i class="feature-icon feature-icon-packages"></i>
              <div class="feature-text">
                <h4>Publish your packages</h4>
                <p>Manage your own repositories of packages, merge them with offical and publish the result.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="feature-wrapper">
              <i class="feature-icon feature-icon-snapshot"></i>
              <div class="feature-text">
                <h4>Take snapshot</h4>
                <p>At any point in time, take snapshot of the mirror to fix current set of packages.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-wrapper">
              <i class="feature-icon feature-icon-publish_snapshot"></i>
              <div class="feature-text">
                <h4>Publish snapshot</h4>
                <p>Any snapshot could be published back as repository (only HTTP server is required).</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="feature-wrapper">
              <i class="feature-icon feature-icon-merge"></i>
              <div class="feature-text">
                <h4>Merge snapshots</h4>
                <p>Merge two or more snapshots into one snapshot: e.g. merge wheezy and wheezy-updates.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-wrapper">
              <i class="feature-icon feature-icon-refresh"></i>
              <div class="feature-text">
                <h4>Upgrade package versions</h4>
                <p>New package version available in backports? Pull only single package with dependencies from backports into snapshot of stable repository.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="feature-wrapper">
              <i class="feature-icon feature-icon-filter"></i>
              <div class="feature-text">
                <h4>Filter repository</h4>
                <p>Don't download packages that are not required, controlling dependencies between them.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-wrapper">
              <i class="feature-icon feature-icon-s3"></i>
              <div class="feature-text">
                <h4>Publishing to S3</h4>
                <p>Publish your repositories directly to Amazon S3 as public or private repositories.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="feature-wrapper">
              <span class="feature-icon feature-icon-search"></span>
              <div class="feature-text">
                <h4>Package search</h4>
                <p>Search for specific packages, their inclusion into snapshots, etc.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-wrapper">
              <i class="feature-icon feature-icon-xxx"></i>
              <div class="feature-text">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <p class="text-center">
          <a class="more-features" href="#">See upcoming features<i class="glyphicon glyphicon-chevron-down"></i></a>
        </p>
        <div id="upcoming" class="hidden">
          <div class="row">
            <div class="col-md-6">
              <div class="feature-wrapper">
                <span class="feature-icon feature-icon-api"></span>
                <div class="feature-text">
                  <h4>REST API</h4>
                  <p>Upload package from over HTTP, manage your repositories, etc.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-wrapper">
                <i class="feature-icon feature-icon-as-is"></i>
                <div class="feature-text">
                  <h4>Mirror repositories as-is. </h4>
                  <p>Mirror official Debian repositories (as snapshots) without resigning by your own key. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="promo-trusted">
      <div class="container hidden">
        <h2 class="text-center">Aptly is trusted by</h2>
        <div class="row text-center">
          <div class="col-md-3"><img src="img/trusted_by/intel.png" alt="Intel"></div>
          <div class="col-md-3"><img src="img/trusted_by/amazon.png" alt="Amazon"></div>
          <div class="col-md-3"><img src="img/trusted_by/instagram.png" alt="Instagram"></div>
          <div class="col-md-3"><img src="img/trusted_by/dell.png" alt="Dell"></div>
        </div>
        <hr>
        <div class="source-buttons">
          <a href="#" class="btn btn-primary">download</a>
          <a href="#" class="btn btn-default">github</a>
        </div>
      </div>
    </section>
{{ template "partials/footer.html" . }}
